@font-face {
  font-family: 'Knif Mono TRIAL';
  src: url('../fonts/KnifMonoTRIAL-Regular.woff2') format('woff2'),
    url('../fonts/KnifMonoTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knif Mono TRIAL';
  src: url('../fonts/KnifMonoTRIAL-Italic.woff2') format('woff2'),
    url('../fonts/KnifMonoTRIAL-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

html {
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: #deddfe;
  font-size: 1vw;
  font-family: 'Knif Mono TRIAL', serif;

}

a {
  color: #0800FF;
  text-decoration: none;
}

h1 {
  color: #0800FF;
  font-size: 2.2vw;
  line-height: 120%;
  margin-bottom: 1rem;
  z-index: 999 !important;
}

h2 {
  font-size: 2.2vw;
  line-height: 120%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 a {
  font-weight: normal;
}

h3 {
  font-size: 1vw;
  margin-bottom: 3rem;

}

h4 {
  font-size: 0.8vw;
  margin-top: 1.3rem;
}

.footer {
  background-color: transparent;
  padding: 5rem 1.5rem 8rem;
}

.is-small {
  font-size: 0.70rem;
}

.container.is-fluid {
  margin-left: 0px;
  margin-right: 0px;
}

.section {
  padding: 0 1.5rem 3rem 1.5rem;
}

.navbar {
  background-color: transparent;
}

.navbar-item,
.navbar-link {
  color: #0800FF;
  padding: 0rem 1.5rem;
}

.navbar-dropdown {
  background-color: black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0 0 0 0 !important;
  font-size: 2.2vw;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 0px !important;
}

.navbar-dropdown p {
  background-color: #0800FF;
  color: white;
  font-size: 1vw;
  width: 630px;
  padding: 2rem;

}

.navbar-dropdown a.navbar-item {
  padding-right: 2rem;
  padding-left: 1.5rem;
}

.column {
  margin-bottom: 30vh;
}

blockquote {
  font-style: italic;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  margin-left: -2em;
  max-width: 15em;
  padding: 0.7em;
}

/*
.image{
filter: hue-rotate(90deg) invert(100%);
-webkit-filter: hue-rotate(90deg) invert(100%);
}
*/

.sep{
  width: 100%;
  margin: 1% auto 1% auto;
}

/* Heatmap canvas */

canvas {
  width: 100%;
  height: calc(100vh - 60px);
  background: transparent;
  z-index: 9999 !important;
  position: absolute;
  opacity: 0.9;
}


/* Fade Shadow Blend Effects */


.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}


.shadow:hover {
  -webkit-box-shadow: 15px 24px 300px 42px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 15px 24px 300px 42px rgba(0, 0, 0, 0.20);
  box-shadow: 15px 24px 300px 42px rgba(0, 0, 0, 0.20);
}

.blend {
  mix-blend-mode: difference;
}

.bar-top {
  background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, transparent);
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  height: 5%;
}


/* Sticky Elements */


.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
}

.stickynav {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: calc(100vh - 70px)
}

/* Tooltip */


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltiptext {
  font-size: 0.75rem;
  color: black;
  text-shadow: none;
  visibility: hidden;
  width: 300px;
  background-color: white;
  padding: 12px 15px 10px 15px;
  position: absolute;
  z-index: 1;
  margin-top: 14%;
  left: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Media */

@media only screen and (max-width: 768px) {
  .tooltip .tooltiptext {
    display: none;
  }

  canvas {
    display: none;
  }

  body {
    font-size: 4vw;
  }

  h2 {
    font-size: 5vw;
  }
  h1 {
    font-size: 5vw;
  }

  .contentarea {
    width: 90% !important;
    position: initial
  }
  .heat,
  .qbig,
  .quote,
  .q1,
  .q2,
  .q3 {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .mapline,
  .heat{
    display: none;
  }
}

/* Metinler */


.contentall {
  position: absolute;
  margin-top: 65%;
  z-index: -1
}

.einleitung {
  padding-bottom: 20%
}

.contentarea {
  color: black;
  padding: 4% 1% 4% 6%;
  background-color: #deddfe;
  margin: 0 0 45% 3%;
  width: 40%;
  z-index: 9;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.contentplus {
  font-size: 0.8vw;
  color: black;
  padding: 2% 1% 2% 2%;
  margin: 20% 0 0 32%;
  background-color: #cfd5ff;
  width: 20%;
  z-index: 8;
  position: absolute;
}

.quote {
  color: white;
  padding: 1%;
  background-color: #0800FF;
  border: 1px solid white;
  width: 20%;
  float: right;
  position: relative;
}

.q1 {
  color: white;
  padding: 1%;
  background-color: #0800FF;
  border: 1px solid white;
  margin: -3% 0 1% 0;
  width: 20%;
  z-index: 9;
  float: right;
  position: relative;
}

.q2 {
  color: white;
  padding: 1%;
  background-color: #0800FF;
  border: 1px solid white;
  margin: 0 -10% 3% 0;
  width: 20%;
  z-index: 9;
  float: right;
  position: relative;
}

.q3 {
  color: white;
  padding: 1%;
  background-color: #0800FF;
  border: 1px solid white;
  margin: -15% -2% 1% 0;
  width: 20%;
  z-index: 9;
  float: right;
  position: relative;
}

.qbig {
  color: white;
  padding: 1%;
  background-color: #0800FF;
  border: 1px solid white;
  margin: -15% -15% 10% 30%;
  width: 20%;
  z-index: 9;
  position: relative;
}


.contentarea:hover,
.contentarea2:hover,
.q1:hover,
.q2:hover,
.q3:hover,
.contentplus:hover {
  z-index: 99;
}

/* Resimler */

.without-caption {
  cursor: zoom-in;
}

figure:hover figcaption {
  display: initial;
}

figcaption {
  position: absolute;
  font-size: 0.8vw;
  text-align: left;
  background: black;
  width: auto;
  padding: 3px 10px 3px 10px;
  z-index: 1;
  display: none;
}

.mfp-content figcaption {
  display: none !important;
}

.figtooltip {
  text-decoration: none;
  position: relative;
}

.figtooltip figcaption {
  display: none;
}

.figtooltip:hover figcaption {
  display: block;
  position: fixed;
  overflow: hidden;
}

/* Diğer */